article {
          margin-left: 30%;
          margin-right: 30%;
          margin-top: 20%;
          margin-bottom: 20%;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 20px;
}